
<div class="contenedor row">
    <div class="datos">
      <h3>Educacion 1</h3>
      <br>
      <div class="col-sm-5">
      
        <ul class="list-group">
        <li class="list-group-item">Lugar</li>
        <li class="list-group-item">Titulo</li>
        <li class="list-group-item">Años</li>
        </ul>     
      </div>
    </div>    
</div>
<!--
<div class="contenedor">
  <div class="datos">
    <div class="wrapper">

      <h1>Educacion</h1>

      <div class="wrap-1">
        <input type="radio" id="tab-1" name="tabs">
        <label for="tab-1"><div>$Experiencia 1</div><div class="cross"></div></label>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quasi inventore unde nobis voluptatibus illum quae rerum laudantium minima, excepturi quis maiores. Eaque quae, nam delectus explicabo, deserunt ipsum!</div>
      </div>    
    </div>
  </div>
</div>
-->