
    <nav class="navbar">
      <div class="brand">
        <h2>Usuario</h2>
      </div>
   
      <ul class="menu">
          <li>
            <a href="https://www.facebook.com/profile.php?id=1193895283" target="_blank"><img src="/assets/Images/facebook-icon.png" target="_blank"></a>
          </li>
          <li>
            <a href="https://twitter.com/Skamti_1" target="_blank"><img src="./assets/Images/twitter-icon.png"></a>
          </li>
          <li>
            <a href="https://www.instagram.com/javier.carrere" target="_blank"><img src="./assets/Images/Instagram-icon.png"></a>
          </li>           
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-success my-2 my-sm-0 boton" type="submit">Login</button>
          
        </form>
    </nav>


    